* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 100%;
  height: 100vh;
}

.hero-back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.header {
  display: flex;
  width: 100%;
  max-width: 1204px;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  top: 46px;
}

.menu {
  display: flex;
}

.menu img {
  width: 20px;
  height: 20px;
}

.menu p {
  width: 100px;
  text-align: center;
  color: white;
}

.lang-selector {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 100%;
}

.hero-titles {
  height: fit-content;
  text-align: center;
  color: white;
}

.hero-titles p:nth-child(1) {
  font-size: 88px;
  line-height: 100%;
  opacity: 72%;
}

.hero-titles p:nth-child(2) {
  font-size: 250px;
  line-height: 100%;
  opacity: 98%;
}

.hero-titles p:nth-child(3) {
  font-size: 64px;
  line-height: 100%;
  opacity: 88%;
}

.box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mimage {
  position: absolute;
  z-index: -1;
  height: 600px;
  width: 100vw;
}

.boxs123 {
  height: 370px;
  width: 1202px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

.box1 {
  height: 370px;
  width: 276px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -10px -10px gray;
  color: whitesmoke;
}

.box1 h1 {
  font-size: 25px;
}

.box2 {
  height: 370px;
  width: 276px;
  border-radius: 40px;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: -10px -10px gray;
  color: whitesmoke;
  font-size: 25px;
}

.box3 {
  height: 370px;
  width: 276px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: -10px -10px gray;
  color: whitesmoke;
  font-size: 25px;
}

.box4 {
  height: 370px;
  width: 276px;
  border-radius: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: -10px -10px gray;
  color: whitesmoke;
  font-size: 25px;
}

.image1 {
  width: 276px;
  height: 370px;
  border-radius: 40px;
  display: flex;
  position: absolute;
  z-index: -1;
}

.image2 {
  width: 276px;
  height: 370px;
  border-radius: 40px;
  display: flex;
  position: absolute;
  z-index: -1;
}

.image3 {
  width: 276px;
  height: 370px;
  border-radius: 40px;
  position: absolute;
  z-index: -1;
}

.image4 {
  width: 276px;
  height: 370px;
  border-radius: 40px;
  position: absolute;
  z-index: -1;
}

.rimage {
  width: 100vw;
  height: 1030px;
  gap: 10px;
  z-index: -1;
  display: flex;
  position: absolute;
}

.main1 {
  display: flex;
  width: 100%;
  height: 1450px;
  justify-content: center;
  gap: 10px;
}

.rimage {
  width: 100%;
  height: 902px;
  display: flex;
}

.roadmap {
  width: 100%;
  justify-items: center;
}

.smbox {
  width: 100%;
  height: 204px;
  display: flex;
}

.smbox1 {
  display: flex;
  height: 90px;
  width: 100%;
  justify-content: center;
  align-self: flex-end;
  font-size: 42px;
}

.smbox1 p {
  font-size: 20px;
  align-self: flex-end;
  position: absolute;
}

.main {
  width: 1200px;
  height: 650px;
  justify-content: space-between;
  display: flex;
  padding-top: 25px;
}
.bbox {
  width: 520px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.bbox1 {
  width: 650px;
  height: 640px;
  border-radius: 30px;
  display: flex;
}

.contain {
  padding: 32px 30px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contain h1 {
  font-size: 24px;
}

.contain p {
  font-size: 12px;
}

.contain_location {
  display: flex;
  gap: 12px;
  align-items: center;
}

.contain_location img {
  height: 14px;
  width: 14px;
}

.contain > div:last-child {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.contain:nth-child(1) {
  background-color: #eee9d9;
}

.contain:nth-child(2) {
  background-color: #8bb8c1cc;
}

.contain:nth-child(3) {
  background-color: #8bb8c1cc;
}

.contain:nth-child(4) {
  background-color: #8bc0bdcc;
}

.contain:nth-child(5) {
  background-color: #97cce0cc;
}

.img1 {
  height: 34px;
  width: 34px;
  display: flex;
}

.roadmap2 {
  height: 1120px;
  width: 100%;
  position: absolute;
  justify-items: center;
}

.roadmap2 img {
  height: 100%;
  width: 100vw;
}

.roadmapheader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  font-size: 35px;
}

.roadmapheader p {
  font-size: 25px;
}

.cards {
  display: flex;
  width: 1200px;
  height: 530px;
  margin-top: 30px;
  flex-direction: row;
  gap: 24px;
}

.card1header {
  height: 92px;
  width: 385px;
  display: flex;
  padding: 24px 24px;
  gap: 16px;
  padding-top: 8px;
  border-bottom: 1px;
}

.card1 {
  width: 385px;
  background-color: #fafbfc;
  border-radius: 40px;
  padding: 30px 30px;
  z-index: -1;
}

.card1 img {
  height: 36px;
  width: 36px;
}

.card1header h1 {
  font-size: 18px;
  padding-top: 8px;
}

.card1bot {
  /* width: fit-content; */
  /* height: 435px; */
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 12px;
  padding-left: 6px;
  display: flex;
}

.cardbox1 {
  height: 48px;
  width: 100%;
  border-radius: 100px;
  background-color: #a4d1e2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.card1bot1 {
  height: 290px;
  /* width: 336px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card1bot2 {
  /* width: 336px; */
  /* height: fit-content; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.card1bot2 div {
  display: flex;
  gap: 5px;
}

.cardbots {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card1bot2 img {
  height: 20px;
  width: 20px;
}

.pbox {
  width: 336px;
  height: 27px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.pbox div {
  display: flex;
  width: 91px;
  height: 27px;
  border-radius: 100px;
  padding-top: 4px;
  padding-right: 16px;
  padding-bottom: 4px;
  padding-left: 16px;
  background-color: #6972b5;
  color: white;
}

.pbox1 {
  width: 336px;
  height: 27px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.roadmap2 img {
  display: flex;
  position: absolute;
  z-index: -1;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 44px;
  margin-top: 250px;
}

.footer1 {
  height: 44px;
  width: 1200px;
  max-width: 1440px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.footer2 img {
  width: 24px;
  height: 24px;
  z-index: 1;
}

.footer3 img {
  width: 24px;
  height: 24px;
  z-index: 1;
}
.footer2 {
  width: 167px;
  height: 44px;
  min-height: 44px;
  border-radius: 100px;
  background-color: #fafbfc;
  padding-top: 10px;
  padding-left: 20px;
  gap: 10px;
  font-size: 10px;
}

.footer3 {
  width: 167px;
  height: 44px;
  min-height: 44px;
  border-radius: 100px;
  background-color: #fafbfc;
  padding-top: 10px;
  padding-left: 20px;
}

.footers {
  display: flex;
  gap: 20px;
}
.footers h1 {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6972b5;
}

.footer3 h2 {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6972b5;
}

.footer4 img {
  height: 35px;
  width: 101px;
  margin-left: 700px;
}

.sukhbaatarsquare {
  height: 34px;
  width: 34px;
  top: 181px;
  left: 492px;
  position: relative;
}

.amarbaysgalantmonastery {
  height: 34px;
  width: 34px;
  top: 42px;
  left: 279px;
  position: relative;
}

.khorgiintogoo {
  height: 34px;
  width: 34px;
  top: 164px;
  left: 107px;
  position: relative;
}

.terkhiintsagaan {
  height: 34px;
  width: 34px;
  top: 230px;
  left: 749px;
  position: relative;
}

.khuvsgullake {
  height: 34px;
  width: 34px;
  top: 42px;
  left: 279px;
  position: relative;
}

.contain:hover {
  border: 5px solid white;
}

.places {
  display: none;
  height: 300px;
  width: 300px;
  position: relative;
}

.sukhbaatar {
  top: 80px;
  left: 200px;
  position: relative;
}

.amarbayasgalant {
  position: relative;
  bottom: 50px;
  left: 140px;
}

.khuvsgul {
  position: relative;
  top: 100px;
  right: 100px;
}

.khorgiin {
  bottom: 100px;
  right: 150px;
}

.terkhiin {
  bottom: 100px;
}

.main:has(.contain:nth-child(1):hover) .sukhbaatar {
  display: block;
}

.main:has(.contain:nth-child(2):hover) .amarbayasgalant {
  display: block;
}

.main:has(.contain:nth-child(3):hover) .khuvsgul {
  display: block;
}
.main:has(.contain:nth-child(4):hover) .khorgiin {
  display: block;
}
.main:has(.contain:nth-child(5):hover) .terkhiin {
  display: block;
}

.box1:hover img {
  background-color: gray;
  opacity: 50%;
}

.box2:hover img {
  background-color: gray;
  opacity: 50%;
}

.box3:hover img {
  background-color: gray;
  opacity: 50%;
}

.box4:hover img {
  background-color: gray;
  opacity: 50%;
}
